---
import { StepsHandler } from './StepsHandler';
import { SideBar } from './SideBar';
import { Content } from './Content';
---

<div class='bg-white flex flex-col lg:flex-row lg:p-4 w-full lg:rounded-xl h-screen lg:h-auto'>
  <SideBar client:only='react' />
  <div
    class='py-7 px-5 lg:px-20 w-[375px] lg:w-[564px] flex flex-col h-full lg:h-auto justify-between bg-neutral-2 lg:bg-white'
  >
    <Content client:only='react' />
    <StepsHandler client:only='react' />
  </div>
</div>
